<a href="https://colab.research.google.com/github/gunjangoyal1703/Basics-of-Python/blob/main/Basics%20of%20Python%20_%20Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics Of Python

## Experiment-2

##### Gunjan Goyal
##### 25070123048
##### E&TC-A3

In [22]:
# First Python Program/ String
print("Hello, Welcome to Python Programming")

Hello, Welcome to Python Programming

In [23]:
a = "Hello"
print(a)

Hello

In [24]:
# Comments
#This is a comment.
print("Hello, World!")

Hello, World!

In [25]:
# Many Statements
print("Hello World!")
print("Have a good day.")
print("Learning Python is fun!")

Hello World!
Have a good day.
Learning Python is fun!

In [26]:
print("Hello"); print("How are you?"); print("Bye bye!")

Hello
How are you?
Bye bye!

In [27]:
print("This will work!")
print('This will also work!')

This will work!
This will also work!

In [28]:
print("Hello World", end="! ")
print("I will print on the same line.")

Hello World! I will print on the same line.

In [29]:
# Print numbers
a=3
print(a)
print(358)
print(500.200)

3
358
500.2

In [30]:
#Variables
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [31]:
# Case-Sensitive
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

In [32]:
#Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [33]:
# Basic Arithmetic Operations
a = 10
b = 5

print("Addition =", a + b)

Addition = 15

In [34]:
print("Subtraction =", a - b)

Subtraction = 5

In [35]:
print("Multiplication =", a * b)

Multiplication = 50

In [36]:
print("Division =", a / b)

Division = 2.0

In [37]:

# Understanding Data Types
x = 10
y = 3.14
z = "Python"
A = True
C=3+2j

print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [ ]:
name = input("Enter your name: ")
print("Hello", name)

In [ ]:
# Taking Input from User
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print("Name:", name)
print("Age:", age)

In [ ]:
#Simple Calculator
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Sum =", a + b)
print("Difference =", a - b)
print("Product =", a * b)
print("Quotient =", a / b)

In [ ]:
# Take marks from 5 students, find sum and average
m1 = float(input("Enter marks for student 1: "))
m2 = float(input("Enter marks for student 2: "))
m3 = float(input("Enter marks for student 3: "))
m4 = float(input("Enter marks for student 4: "))
m5 = float(input("Enter marks for student 5: "))

total_sum = m1 + m2 + m3 + m4 + m5
average = total_sum / 5

print("Total Sum:", total_sum)
print("Average:", average)

In [ ]:
# Write a Python program to find the area of a circle.
r = float(input("Enter radius: "))
area = 3.14 * r * r
print("Area of circle =", area)

In [ ]:
# Find area and perimeter of a rectangle
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))

area = length * width
perimeter = 2 * (length + width)

print(f"Area: {area}")
print(f"Perimeter: {perimeter}")

In [ ]:
# Python Booleans
print(10 > 9)
print(10 == 9)
print(10 < 9)

In [ ]:
# Print a message based on whether the condition is True or False:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")