<a href="https://colab.research.google.com/github/gunjangoyal1703/Basics-of-Python/blob/main/Study_of_Lists_and_various_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Study of Lists and various Operators
##Experiment-3

##### Gunjan Goyal
##### 25070123048
##### E&TC-A3

In [ ]:
## Python Lists
SubjectList = ["AMT", "DCLD", "EDA", "PES", "CT", "TPCS", "IKS"]
print(SubjectList)

['AMT', 'DCLD', 'EDA', 'PES', 'CT', 'TPCS', 'IKS']

In [ ]:
# List Length
SubjectList = ["AMT", "DCLD", "EDA", "PES", "CT", "TPCS", "IKS"]
print(len(SubjectList))

7

In [ ]:
# A list with strings, integers and boolean values:
list1 = ["Gunjan", 19, True, 17.03, "female"]
list1

['Gunjan', 19, True, 17.03, 'female']

In [ ]:
# Access Items
SubjectList = ["AMT", "DCLD", "EDA", "PES", "CT", "TPCS", "IKS"]
print(SubjectList[0])
print(SubjectList[1])
print(SubjectList[2])

AMT
DCLD
EDA

In [ ]:
# Reverse/Negative Indexing
SubjectList = ["AMT", "DCLD", "EDA", "PES", "CT", "TPCS", "IKS"]
print(SubjectList[-1])
print(SubjectList[-2])
print(SubjectList[-3])

IKS
TPCS
CT

In [ ]:
# Slicing
SubjectList = ["AMT", "DCLD", "EDA", "PES", "CT", "TPCS", "IKS"]
print(SubjectList[1:3]) # 1 is inclusive, 3 is exclusive
print(SubjectList[ :5]) # Nothing is written, assumes as 0 (First 4 entries)
print(SubjectList[3:]) # Nothing is written, assumes last entry
print(SubjectList[-3:]) # Will access lat three entries (Last 3 entries)
print(SubjectList[2:-2]) # Negative indexing
print(SubjectList[0:5]) # First 4 entries
print(SubjectList[-4:-2]) # Access PES and CT (using negative indexing)
print(SubjectList[-4:]) # Access from PES to end

['DCLD', 'EDA']
['AMT', 'DCLD', 'EDA', 'PES', 'CT']
['PES', 'CT', 'TPCS', 'IKS']
['CT', 'TPCS', 'IKS']
['EDA', 'PES', 'CT']
['AMT', 'DCLD', 'EDA', 'PES', 'CT']
['PES', 'CT']
['PES', 'CT', 'TPCS', 'IKS']

In [ ]:
# Change Item Value
SubjectList = ["AMT", "DCLD", "EDA", "PES", "CT", "TPCS", "IKS"]
SubjectList[6] = "ECSF"
print(SubjectList)

['AMT', 'DCLD', 'EDA', 'PES', 'CT', 'TPCS', 'ECSF']

In [ ]:
# Append Items
SubjectList = ["AMT", "DCLD", "EDA", "PES", "CT", "TPCS", "IKS"]
SubjectList.append("ECSF") # Adds one more entry at the end
print(SubjectList)

['AMT', 'DCLD', 'EDA', 'PES', 'CT', 'TPCS', 'IKS', 'ECSF']

In [ ]:
# Insert Items
SubjectList = ["AMT", "DCLD", "EDA", "PES", "CT", "TPCS", "IKS"]
SubjectList.insert(0, "ECSF") # Adds entry at mentioned position
print(SubjectList)

['ECSF', 'AMT', 'DCLD', 'EDA', 'PES', 'CT', 'TPCS', 'IKS']

In [ ]:
# Extend List
NameList1 = ["Anand", "Bhavya", "Cathy"]
NameList2 = ["Deepak", "Eminem", "Farrah"]
NameList1.extend(NameList2) # List 2 will be added to List 1
print(NameList1)

['Anand', 'Bhavya', 'Cathy', 'Deepak', 'Eminem', 'Farrah']

In [ ]:
#Searching Items
8 in [3,4,5]
2 in [3,4,5]

False

In [3]:
# Repetition
NewList1 = (' -wow- ') * 6
print(NewList1)
NewList2 = (' -go- ') * 12
print(NewList2)

wow-wow-wow-wow-wow-wow-
go-go-go-go-go-go-go-go-go-go-go-go-

In [ ]:
#Slicing Examples
Numbers = [10, 20, 30, 40, 50]
print("Elements from index 1 to 3:") ; print(Numbers[1:4])
print("First three elements:") ; print(Numbers[:4])
print("Elements from index 2 onwards:") ; print(Numbers[-3:])
print("All elements:") ; print(Numbers[:])

Elements from index 1 to 3:
[20, 30, 40]
First three elements:
[10, 20, 30, 40]
Elements from index 2 onwards:
[30, 40, 50]
All elements:
[10, 20, 30, 40, 50]

In [ ]:
# Various Marks
Marks = [78, 85, 90, 66, 88]
print("Maximum Marks:",max(Marks))
print("Minimum Marks:",min(Marks))
print("Total Marks:",sum(Marks))
print("Number of Students:",len(Marks))
print("Average Marks:",sum(Marks)/len(Marks))
print("Sort Marks in Ascending Order:",Marks.sort())
print(Marks) # We need to print again for sort as the original gets edited

Maximum Marks: 90
Minimum Marks: 66
Total Marks: 407
Number of Students: 5
Average Marks: 81.4
Sort Marks in Ascending Order: None
[66, 78, 85, 88, 90]

In [ ]:
# Grocery Shopping List
print("GroceryList:"); GroceryList = ["Salt","Eggs","Pineapple","Milk","Curd","Oil"]; print(GroceryList)
print("Adding Forgotten Items:"); GroceryList.append("Chocolates"); print(GroceryList)
print("Removing Purchased Items:"); GroceryList.remove("Oil"); print(GroceryList)
print("Final List:"); print(GroceryList)

GroceryList:
['Salt', 'Eggs', 'Pineapple', 'Milk', 'Curd', 'Oil']
Adding Forgotten Items:
['Salt', 'Eggs', 'Pineapple', 'Milk', 'Curd', 'Oil', 'Chocolates']
Removing Purchased Items:
['Salt', 'Eggs', 'Pineapple', 'Milk', 'Curd', 'Chocolates']
Final List:
['Salt', 'Eggs', 'Pineapple', 'Milk', 'Curd', 'Chocolates']

In [ ]:
# List of Phone Contacts
print("ContactList:"); ContactList = ["Ram","Raman","Geeta","Nita","Tina","Prashant"]; print(ContactList)
print("Adding New Contact:"); ContactList.append("Diviya"); print(ContactList)
print("Deleting Existing Contsct:"); ContactList.remove("Nita"); print(ContactList)
print("Sort Contacts in Alphabetical Order:",ContactList.sort()); print(ContactList)

ContactList:
['Ram', 'Raman', 'Geeta', 'Nita', 'Tina', 'Prashant']
Adding New Contact:
['Ram', 'Raman', 'Geeta', 'Nita', 'Tina', 'Prashant', 'Diviya']
Deleting Existing Contsct:
['Ram', 'Raman', 'Geeta', 'Tina', 'Prashant', 'Diviya']
Sort Contacts in Alphabetical Order: None
['Diviya', 'Geeta', 'Prashant', 'Ram', 'Raman', 'Tina']

In [8]:
# Slicing Examples
List1 = [20,30,50,60,40,10,70]
print(List1[1:3])
print(List1[1:3:1])
print(List1[1:5:2])
print(List1[1:4:3])
print(List1[4:6:-1]) # Goes one step back
print(List1[6:4:-1])
print(List1[6:4:-2])
print(List1[-2:-4:-2])

[30, 50]
[30, 50]
[30, 60]
[30]
[]
[70, 10]
[70]
[10]

In [12]:
# Temperature Analysis
PuneTemp = [34, 32 ,37, 43, 23, 34, 43, 25, 36,38]
print("Pune's Temperature in first 5 days:",(PuneTemp)[:5])
print("Pune's Temperature in last 5 days:",(PuneTemp)[5:])
print("Pune's Temperature:",(PuneTemp))
print("Highest Temperature:",max(PuneTemp))
print("Lowest Temperature:",min(PuneTemp))
print("Average Temperature:",sum(PuneTemp)/len(PuneTemp))

Pune's Temperature in first 5 days: [34, 32, 37, 43, 23]
Pune's Temperature in last 5 days: [34, 43, 25, 36, 38]
Pune's Temperature: [34, 32, 37, 43, 23, 34, 43, 25, 36, 38]
Highest Temperature: 43
Lowest Temperature: 23
Average Temperature: 34.5

In [14]:
# Daily Expense Tracker
ExpenseTracker = [345, 76, 7564, 756, 674, 576, 566, 678, 678, 465]
print("Expenses:",(ExpenseTracker))
print("Total Expenses:",sum(ExpenseTracker))
print("Average Expenses:",sum(ExpenseTracker)/len(ExpenseTracker))
print("Highest Spending:",max(ExpenseTracker))
print("Lowest Spending:",min(ExpenseTracker))

Expenses: [345, 76, 7564, 756, 674, 576, 566, 678, 678, 465]
Total Expenses: 12378
Average Expenses: 1237.8
Highest Spending: 7564
Lowest Spending: 76